<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" data-upgraded=",MaterialButton" (click)="loadTableData()" style="margin-left: 38%;">
    <i class="material-icons">refresh</i>
</button>
<!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;fab mdl-button&#45;&#45;colored" data-upgraded=",MaterialButton" (click)="addHero()">-->
    <!--<i class="material-icons">add</i>-->
<!--</button>-->
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" style="margin-top: 15px; margin-left: 38%">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Power</th>
        <th>Get it</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="#hero of heroes">
        <td></td>
        <td>{{hero.id}}</td>
        <td>{{hero.name}}</td>
        <td>{{hero.power}}</td>
        <td><a href="#" (click)="getHeroById(hero.id)">Load hero </a></td>
    </tr>
    </tbody>
</table>