<header class="mdl-layout__header">
    <div class="mdl-layout__drawer-button" (click)="expandDrawer()">
        <i class="material-icons">menu</i>
    </div>
    <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">{{title}}</span>
        <div class="mdl-layout-spacer"></div>
    </div>
</header>
<div class="mdl-layout__drawer" [ngClass]="{'is-visible': expanded}">
    <span class="mdl-layout-title">{{title}}</span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="" *ngFor="#item of drawerMenuItems">{{item}}</a>
    </nav>
</div>
<div class="mdl-layout__obfuscator" [ngClass]="{'is-visible': expanded}" (click)="discardDrawer()"></div>